<!DOCTYPE html>
<html>
  <%- include('layouts/head.ejs')%>
  <body>
    <%- include('layouts/navbar.ejs')%>
    <%- include('layouts/sidebar.ejs')%>
<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="col-md-12 col-sm-12  ">
      <div class="x_panel">
        <div class="x_title" style="display: flex; justify-content: space-between; padding-top: 10px; padding-bottom: 10px">
          <h2>Daftar Pengguna</h2>
          <div style="margin-left: 15px;">
            <button type="button" class="btn btn-success btn-block btn-flat tombolTambahDataPengguna" style="height: 38px; font-size: 14px;" data-toggle="modal" data-target="#pengguna_modal" data-keyboard="false" data-backdrop="static">
              Tambah Pengguna
          </button>
          </div>
        </div>
        <div class="x_content">

      <!-- tambah pengguna modal -->
      <div class="modal fade" id="pengguna_modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="formModalLabel">Tambah Data Pengguna</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/pengguna/tambah" method="POST">
                <input type="hidden" name="id" id="id">
                <div class="form-group">
                  <label for="nama">Nama</label>
                  <input type="text" class="form-control" id="nama" name="nama" required>
                </div>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="text" class="form-control" id="password" name="password" required>
                </div>

                <div class="form-group">
                  <label for="level_pengguna">Level Pengguna</label>
                  <select class="form-control" id="level_pengguna" name="level_pengguna" required>+
                    <option value="Admin">Admin</option>
                    <option value="Karyawan">Karyawan</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="jabatan">Jabatan</label>
                  <select class="form-control" id="jabatan" name="jabatan" required>
                    <!-- <option value="1">HRD</option>
                    <option value="2">IT Support</option> -->
                    <% list_jabatan.forEach(function(value) { %>
                      <option value="<%= value['_id'] %>"><%= value['nama'] %></option>
                    <% }); %>
                  </select>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
              <button type="submit" class="btn btn-success">Tambah</button>
              </form>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->


      <!-- tabel data pengguna  -->
      <table id="tabel-pengaturan" class="table table-bordered table-hover" style="width:100%">
        <thead>
            <tr>
                <th>Nama</th>
                <th>Username</th>
                <th>Jabatan</th>
                <th>Level Pengguna</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
          <% list_pengguna.forEach(function(value) { %>
            <tr>
                <td><%= value['nama'] %></td>
                <td><%= value['username'] %></td>
                <td><%= value['jabatan'] ? value['jabatan']['nama'] : '' %></td>
                <td><%= value['level_pengguna'] %></td>
                <td>
                  <div style="display: flex;">
                    <button type="button" class="btn btn-primary btn-block btn-sm tombolUbahDataPengguna" style="margin-right:10px; max-width: 90px; height: 33px;"
                      data-toggle="modal" data-target="#pengguna_modal" data-keyboard="false" data-backdrop="static" data-id="<%= value[`_id`] %>">
                      <i class="fa fa-edit" style="margin-right:10px"></i>Ubah
                    </button>
                    <button type="button" type="button" class="btn btn-danger btn-block btn-sm" style="margin-top: 0px; max-width: 90px; padding: 5px 10px; height: 33px;"
                    onclick="hapusPengguna('<%=value[`_id`]%>', '<%=value[`nama`]%>')" 
                    >
                      <i class="fa fa-trash" style="margin-right:10px"></i>Hapus
                    </button>  
                  </div>
                </td>
            </tr>
          <% }); %>
        </tbody>
    </table>

        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  jQuery.noConflict();
(function($) {
    $(document).ready(function() {
        $('#tabel-pengaturan').DataTable({
          "columnDefs": [
            { "width": "220px", "targets": [4] } // Set specific column widths
          ],
          "columns": [
            // Add more column definitions as needed
            { "data": "nama" },
            { "data": "username" },
            { "data": "jabatan" },
            { "data": "level_pengguna" },
            { "data": "aksi", "orderable": false }
          ]
        });

      
    });

      $(function () {
        $('.tombolTambahDataPengguna').on('click', function () {
        $('#formModalLabel').html('Tambah Data Pengguna');
        $('.modal-footer button[type=submit]').html('Tambah');
        $('.modal-body form').attr('action', '/pengguna/tambah');

        $('#nama').val('');
        $('#username').val('');
        $('#password').val('');
        $('#password').prop("required", true);
        $('#level_pengguna').val('');
        $('#jabatan').val('');
        $('#id').val('');
      })

      $('.tombolUbahDataPengguna').on('click', function () {
        $('#formModalLabel').html('Ubah Data Pengguna');
        $('.modal-footer button[type=submit]').html('Ubah');
        $('.modal-body form').attr('action', '/pengguna/ubah');

        const id = $(this).data('id');

        $.ajax({
          url: '/pengguna/getubah',
          data: { id: id },
          method: "post",
          dataType: 'json',
          success: function (data) {
            $('#nama').val(data.nama);
            $('#username').val(data.username);
            $('#password').val('');
            $('#password').prop("required", false);
            $('#level_pengguna').val(data.level_pengguna);
            $('#jabatan').val(data.jabatan ? data.jabatan['_id'] : '');
            $('#id').val(data["_id"]);

          },
          error: function (xhr, status, error) {
            console.error("Error occurred:", error);
          // Handle error
          }
        })
      })
      })
})(jQuery);


  function hapusPengguna(id_pengguna, nama_pengguna){
    var isDelete = confirm('Apakah anda yakin akan menghapus pengguna "' + nama_pengguna +'"');

    if(isDelete){
      document.location.href='/pengguna/hapus/' + id_pengguna;
    }
  }
</script>
<%- include('layouts/footer.ejs')%>